/* STRUCT */

*{
	margin: 0;
	padding: 0;
}

.clear{
	clear: both;
}

html,body{
	position: relative;
	height: 100%
}

p{
	font-family: 'Open Sans', sans-serif;
}

.fontzero{
	font-size: 0em;
	float: left;
}

/* CONTAINER */

.container{
	width: 1366px;
	height: 700px;
	display: block;
	margin: 0 auto;
	box-sizing: border-box;
}

/* DISPLAY */

.led{
	width: 1366px;
	height: 200px;
	background-color: black;
	box-sizing: border-box;
	border: solid 1px black;
}

.led p{
	padding: 40px 0 0 5px;
	text-decoration: none;
	font-size: 6em;
	color: white;
}

/* BUTTONS */

.buttons{
	width: 400px;
	height: 500px;
	box-sizing: border-box;
	position: relative;
	float: left;
	text-decoration: none;
	text-align: center;
	font-size: 3em;
	color: black;
	cursor: pointer;
}

.buttons .line{
	width: 400px;
	height: 100px;
	box-sizing: border-box;
}

.buttons .line .button{
	width: 100px;
	height: 100px;
	box-sizing: border-box;
	border: solid 1px black;
	position: relative;
	float: left;
}
.buttons .line .button p{
	padding-top: 15px;
}

.buttons .line .c{
	width: 200px;
	height: 100px;
	box-sizing: border-box;
	border: solid 1px black;
	position: relative;
	float: left;
	background-color: #E1140B;
}

.buttons .line .c:hover{
	background-color: #E83E36;
}

.buttons .line .c p{
	padding-top: 16px;
}

.buttons .line .operation{
	background-color: #E1140B;
}

.buttons .line .operation:hover{
	background-color: #E83E36;
}

.buttons .line .operator{
	background-color: #FEEB23;
}

.buttons .line .operator:hover{
	background-color: #FFF053;
}

.buttons .line .number{
	background-color: #5093D7;
}

.buttons .line .number:hover{
	background-color: #72A3D4;
}

.buttons .line .zero{
	width: 200px;
	height: 100px;
	box-sizing: border-box;
	border: solid 1px black;
	position: relative;
	float: left;
	background-color: #5093D7;
}

.buttons .line .zero:hover{
	background-color: #72A3D4;
}

.buttons .line .zero p{
	padding-top: 16px;
}

/* CHANGE COLOR APP */

.containerColor{
	width: 966px;
	height: 500px;
	box-sizing: border-box;
	border: solid 1px black;
	position: relative;
	float: left;
	background-color: #E1E1E1;
	font-family: 'Lato', sans-serif;
}

.containerColor .changeColorApp{
	width: 966px;
	height: 300px;
	box-sizing: border-box;
} 

.containerColor .changeColorApp h2{
	width: 966px;
	height: 35px;
	padding: 10px 0 5px 0;
	text-decoration: none;
	text-align: center;
	font-size: 1.7em;
	color: #006F93;
}

/* CUSTOMISE EACH BUTTON */

.containerColor .changeColorApp .custom{
	width: 483px;
	height: 250px;
	box-sizing: border-box;
	position: relative;
	float: left;
}

.containerColor .changeColorApp .custom h3{
	width: 483px;
	padding: 10px 0 10px 0;
	text-decoration: none;
	text-align: center;
	font-size: 1.2em;
	color: #006F93;
}

.containerColor .changeColorApp .custom p{
	font-family: 'Lato', sans-serif;
	text-decoration: none;
	margin-left: 83.5px;
	padding: 10px 0 10px 0;
	font-size: 1em;
	color: #006F93;
}

.container .changeColorApp .custom select{
	width: 250px;
	margin: 0 83.5px 0 83px;
}

/* PRE-ORGANIZED COLOR SCHEME */

.containerColor .changeColorApp .custom .changeColorButtons{
	width: 483px;
	height: 18px;
	box-sizing: border-box;
}
.containerColor .changeColorApp .custom .changeColorButtons .containerButtons{
	width: 250px;
	height: 18px;
	box-sizing: border-box;
	margin-left: 85px;
}

.containerColor .changeColorApp .custom .changeColorButtons .containerButtons button{
	width: 16px;
	height: 18px;
	box-sizing: border-box;
	border-style: none;
	border: solid 1px;

}

.containerColor .changeColorApp .custom .changeColorButtons .containerButtons button.gray{
	background-color: #808080;
}
.containerColor .changeColorApp .custom .changeColorButtons .containerButtons button.gray:hover{
	background-color: #A9A9A9;
}

.containerColor .changeColorApp .custom .changeColorButtons .containerButtons button.lightGray{
	background-color: #A9A9A9;
}
.containerColor .changeColorApp .custom .changeColorButtons .containerButtons button.lightGray:hover{
	background-color: #D3D3D3;
}

.containerColor .changeColorApp .custom .changeColorButtons .containerButtons button.orange{
	background-color: #FF8C00;
}
.containerColor .changeColorApp .custom .changeColorButtons .containerButtons button.orange:hover{
	background-color: #FF8C00;
}

.containerColor .changeColorApp .custom .changeColorButtons .containerButtons button.red{
	background-color: #E1140B;
}
.containerColor .changeColorApp .custom .changeColorButtons .containerButtons button.red:hover{
	background-color: #E83E36;
}

.containerColor .changeColorApp .custom .changeColorButtons .containerButtons button.yellow{
	background-color: #FEEB23;
}
.containerColor .changeColorApp .custom .changeColorButtons .containerButtons button.yellow:hover{
	background-color: #FFF053;
}

.containerColor .changeColorApp .custom .changeColorButtons .containerButtons button.blue{
	background-color: #5093D7;
}
.containerColor .changeColorApp .custom .changeColorButtons .containerButtons button.blue:hover{
	background-color: #72A3D4;
}

.containerColor .changeColorApp .style{
	width: 483px;
	height: 250px;
	box-sizing: border-box;
	position: relative;
	float: left;
}

.containerColor .changeColorApp .style h3{
	width: 483px;
	padding: 10px 0 10px 0;
	text-decoration: none;
	text-align: center;
	font-size: 1.2em;
	color: #006F93;
}

.containerColor .changeColorApp .style button{
	width: 300px;
	height: 25px;
	margin: 35px 91.5px 25px 91.5px;
	box-sizing: border-box;
	border-style: none;
	border: black solid 1px;
	border-radius: 5px;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	font-style: bold;
}

.containerColor .changeColorApp .style button#iOS{
	background-color: #808080;
	color: white;
}

.containerColor .changeColorApp .style button#iOS:hover{
	background-color: #A9A9A9;
}

.containerColor .changeColorApp .style button#devLoopers{
	background-color: #5093D7;
	color: white;
}

.containerColor .changeColorApp .style button#devLoopers:hover{
	background-color: #72A3D4;
}

/* FOOTER */

.containerColor footer{
	width: 966px;
	height: 200px;
	box-sizing: border-box;
}

.containerColor footer img{
	width: 228.047px;
	height: 190px;
	margin: 5px 10px;
	position: relative;
	float: left;
}

.containerColor footer h2{
	width: 700px;
	height: 80px;
	display: block;
	margin: 0 auto;
	padding: 60px 0;
	position: relative;
	float: left;
	text-decoration: none;
	text-align: center;
	font-size: 2em;
	color: #006F93;
}